<x-view>
    <x-menu>
        <x-menu-item class='btn light round bordered transparent' on="click" do="dismiss">
            <i class="material-icons">arrow_back</i>
        </x-menu-item>
        <x-menu-item class='btn light round bordered' on="click" do="refresh">
            <i class="material-icons">refresh</i>
        </x-menu-item>
    </x-menu>
    maps
    <button id='dismiss'>dismiss</button>
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.306202756848!2d-74.04668908425435!3d40.68925344694296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25090129c363d%3A0x40c6a5770d25022b!2sVrijheidsbeeld!5e0!3m2!1snl!2snl!4v1521726383291"
    width="100%"
    height="100"
    frameborder="0"
    style="border:0">
</iframe>
</x-view>
<script>
    doc.one('#dismiss').on('click', function(event){
        doc.one('#--app-views-maps-main-html').do('dismiss');
    })
</script>
